<IfModule headers_module.c>
Header always set Referrer-Policy "same-origin"
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On
    RewriteCond "%{HTTP_REFERER}" "^$" [OR]
        RewriteCond "%{HTTP_REFERER}" "!^http://(www\.)?pac-man\.boribar\.com/2D/pacman.html$" [NC]
            RewriteRule "\.(js|wav|gif|png|m4a)$" "-" [R=403]
</IfModule>
Options -Indexes
